<h1 class="title">ログイン画面</h1>
<%= form_with(scope: :session, url:sessions_path, local: true) do |f| %>
<P>
  <%= f.label :"メールアドレス" %>
  <%= f.email_field :email %>
</p>
<p>
  <%= f.label :"パスワード"%>
  <%= f.password_field :password %>
</p>
<p>
  <%= f.submit "ログイン" %>
</p>
<% end %>

<%= button_to "新しいアカウントを作成", new_user_path, method: :get %>
