<p id="notice"><%= notice %></p>
<h1>画像の詳細画面</h1>
<p>
  <strong>画像:</strong>
  <%= image_tag @picture.image.url %>
</p>
<p>メッセージ： <%= @picture.content %></p>
<%= link_to '編集画面に戻る', edit_picture_path %>
<%= link_to '画像一覧画面へ', pictures_path %>
